@font-face {
  font-family: "BwModelicaCyrillicDEMO-Regular";
  src: 
    url("~@/assets/fonts/BwModelicaCyrillicDEMO-Regular.eot") format("eot"),
    url("~@/assets/fonts/BwModelicaCyrillicDEMO-Regular.woff2") format("woff2"),
    url("~@/assets/fonts/BwModelicaCyrillicDEMO-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BwModelicaCyrillicDEMO-Medium";
  src: 
    url("~@/assets/fonts/BwModelicaCyrillicDEMO-Medium.eot") format("eot"),
    url("~@/assets/fonts/BwModelicaCyrillicDEMO-Medium.woff2") format("woff2"),
    url("~@/assets/fonts/BwModelicaCyrillicDEMO-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BwModelicaCyrillicDEMO-Bold";
  src: 
      url("~@/assets/fonts/BwModelicaCyrillicDEMO-Bold.eot") format("eot"),
      url("~@/assets/fonts/BwModelicaCyrillicDEMO-Bold.woff2") format("woff2"),
      url("~@/assets/fonts/BwModelicaCyrillicDEMO-Bold.woff") format("woff");
    
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BwModelicaCyrillicDEMO-ExtraBold";
  src: 
      url("~@/assets/fonts/BwModelicaCyrillicDEMO-ExtraBold.eot") format("eot"),
      url("~@/assets/fonts/BwModelicaCyrillicDEMO-ExtraBold.woff2") format("woff2"),
      url("~@/assets/fonts/BwModelicaCyrillicDEMO-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}