//fonts

$font_reg: 'BwModelicaCyrillicDEMO-Regular';
$font_med: 'BwModelicaCyrillicDEMO-Medium';
$font_bold: 'BwModelicaCyrillicDEMO-Bold';
$font_ext: 'BwModelicaCyrillicDEMO-ExtraBold';

// animation

$transition_rules: 0.3s 0.1s ease;

// widths

$desktop: 1200px;
$tablet_lg: 1199px;
$tablet_md: 959px;
$tablet: 767px;
$mobile_lg: 533px;
$mobile_md: 433px;
$mobile: 320px;

$min_width: $mobile;

// colors

$col_white: #ffffff;
$col_grey: #535353;
$col_green: #497952;
$col_link: #fafffa;
$col_lightpink: #f9edf0;

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
